body {
    overflow: hidden;
}

.bg-custom {
    background-color: #f66767;
}

.part {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-height: 50vh;
    height: 50vh;
    overflow: hidden; 
}

.part.active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100vh;
    max-height: 100vh;
}

.card {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

@media(min-width: 992px) {
    .part {
        min-height: 100vh;
        height: 100vh;
    }
    
    .card {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 0px;
    }
}

.heading {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
}

.docform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 175%);
    align-content: center;
    opacity: 0;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #00ff00;
}

.dot.standby {
    background-color: #ffff00;
}